{% extends "layouts/standard.html" %}

{% set title = "Dig Snow!" %}
{% set description = "Can you get the highest score? Can you beat your friends? Try our game \"Dig Snow!\"." %}

{% block content %}
	<div class="section">
		<h1>DIG SNOW!</h1>
		<p>In Dig Snow! your goal is to dig as many piles of snow as you can before the time runs out.
				Can you get the highest score?<br /><br />
				Dig Snow! was made for Ludum Dare 31 which is a game creator
				challenge we participated in on December 5th-8th, 2014.
				The game is simple and easy to learn.
				The people who have played the game has said that it is quite addicting
				and fun to play together with friends in the competition to reach the highest score.<br /><br />
				If you got any further questions about "Dig Snow!" or Magnon then you are more than welcome to contact us!
				You find the contact information on our <a href="/contact">contact page</a>.<br /><br />
				<a href="http://ludumdare.com/compo/ludum-dare-31/?action=preview&uid=44076">Download</a>
		</p>
	</div>
	<div class="section">
		<img src="/images/games/digSnow.jpg" alt="Screenshot of Dig Snow!" />
	</div>
{% endblock %}
