{% extends "layouts/standard.html" %}

{% set title = "Pillow Knigts" %}
{% set description = "The cat invasion is here! Your kingdom needs help! Will you be the one who finally defeats the cat boss?" %}

{% block content %}
	<div class="section">
		<h1>PILLOW KNIGHTS</h1>
		<p>The cat invasion is here! Your kingdom needs help! Will you be the
				one who finally defeats the cat boss?<br /><br />
				Play as the Pillow Knight in a world swarmed with cats! Your mission
				is to defend your kingdom from the cat invasion and to stay alive as
				long as possible. You will encounter everything from bouncing house
				cats to burning lava cats. The kingdom is in your hands.<br />
				The character is constantly moving in the direction that you are
				facing with the exception of when you are ducking. Use everything
				you know to outsmart the cats by either ducking, jumping over or
				killing them by jumping on top of them, though some cats may not
				die that easily so be careful.<br />
				You get points by just surviving and also by killing the cats but
				you can also get large bonuses by performing good. Compare your
				highscore with your friends and try to get on the leaderboard.
				There is also a shop where you can upgrade your characters cosmetics.
				<br /><br />
				If you got any further questions about "Pillow Knights" or Magnon
				then you are more than welcome to contact us! You find the contact
				information on our <a href="/contact">contact page</a>.<br /><br />
				<a href="https://pillowknights.magnon.net">Play Pillow Knights now!</a>
		</p>
	</div>
	<div class="section">
		<img src="/images/games/pillowKnights.png" alt="Screenshot of Pillow Knights" class="pixel" />
	</div>
	<div class="section">
		<img src="/images/games/pillowKnights/s1.png" alt="Screenshot of Pillow Knights level 1" />
	</div>
	<div class="section">
		<img src="/images/games/pillowKnights/s2.png" alt="Screenshot of Pillow Knights level 2" />
	</div>
	<div class="section">
		<img src="/images/games/pillowKnights/s3.png" alt="Screenshot of Pillow Knights level 3" />
	</div>
	<div class="section">
		<img src="/images/games/pillowKnights/s4.png" alt="Screenshot of Pillow Knights level 4" />
	</div>
	<div class="section">
		<img src="/images/games/pillowKnights/s5.png" alt="Screenshot of Pillow Knights level 5" />
	</div>
{% endblock %}
