{
    "presets": [
        ["env", {
            "targets": {
                "edge": 15,
                "firefox": 53,
                "chrome": 58,
                "safari": "10.1",
                "ios": "10.1"
            },
            "modules": false
        }]
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-custom-element-classes",
        "transform-es2015-classes"
    ],
    "compact": true
}
