{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", ">3%"],
                "ie": 11
            },
            "modules": false
        }]
    ],
    "env": {
        "production": {
            "presets": ["babili"]
        }
    },
    "plugins": [
        "syntax-dynamic-import",
        "transform-custom-element-classes",
        "transform-es2015-classes"
    ]
}
