@import "defs";
@import "fonts";
@import "responsive";
@import "footer";

@mixin circleImage($radius:"") {
	border-radius: 50%;
	@if $radius != "" {
		width: $radius;
		height: $radius;
	}
}

html {
	height: 100%;
}

body {
	margin: 0;
	background-color: darken($backgroundColor, 5);
	text-align: center;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
	font-family: $font;

	*::selection {
		background: $highlightColor;
	}
}

a {
	transition: color 0.2s;
	color: $highlightColor;

	&:visited {
		color: darken($highlightColor, 15);
	}
	&:hover {
		color: lighten($highlightColor, 20);
	}
	&:active {
		color: darken($highlightColor, 10);
	}
}

#top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $headerHeight;
	background-color: $headerColor;
	box-shadow: 0 0 20px transparentize($foregroundColor, 0.5);
	z-index: 5;
	transition: height 0.2s;

	@include large {
		height: $bigHeaderHeight;
	}

	.overflowIcon {
		stroke: white !important;
	}
}

.topOverflow {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: $headerHeight;
	height: $headerHeight;
	padding: ($headerHeight - 24) / 2;
	box-sizing: border-box;

	@include large {
		width: $bigHeaderHeight;
		height: $bigHeaderHeight;
		padding: ($bigHeaderHeight - 24) / 2;
	}
}

#topLogo svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: $headerHeight - $defaultPadding * 2;
	max-width: 50%;

	@include large {
		height: $bigHeaderHeight - $defaultPadding * 2;
	}
}

nav {
	position: fixed;
	top: 0;
	left: -90%;
	bottom: 0;
	height: 100%;
	width: 90%;
	max-width: 300px;
	background: $backgroundColor;
	z-index: 10;
	font-family: $font;
	user-select: none;

	footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		box-sizing: border-box;
		padding: $defaultPadding;
	}

	a {
		transition: color 0.2s;
		text-decoration: none;
		color: lighten($foregroundColor, 40);
		font-size: 20px;
		display: block;
		margin: $defaultPadding * 3;

		&:visited {
			color: lighten($foregroundColor, 40);
		}
		&:hover {
			color: lighten($foregroundColor, 60);
		}
		&:active {
			color: lighten($foregroundColor, 20);
		}
	}
}

#blackout {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: transparentize($foregroundColor, 0.2);
	z-index: 5;
	display: none;
	opacity: 0;
}

#notifications {
	position: fixed;
	right: 0;
	bottom: 0;
	max-width: 100%;
	padding-left: $defaultPadding * 2;
	box-sizing: border-box;

	.notification {
		transition: all 0.3s;
		left: 0px;
		position: relative;
		clear: both;
		float: right;
		max-height: 600px;
		max-width: 400px;
		padding: $defaultPadding $defaultPadding * 2;
		padding-bottom: $defaultPadding * 1.5;
		margin-bottom: $defaultPadding * 2;
		margin-right: $defaultPadding * 2;
		background-color: lighten($foregroundColor, 15);
		color: $backgroundColor;
		box-shadow: 0 5px 15px transparentize($foregroundColor, 0.5);
		text-align: left;
		font-family: $font;

		$closeSize: 20px;

		.title {
			display: block;
			margin-right: $closeSize + $defaultPadding;
			margin-bottom: $defaultPadding;
			line-height: $closeSize + $defaultPadding;
			font-size: $closeSize;
		}

		.close {
			display: block;
			position: absolute;
			top: $defaultPadding * 1.5;
			right: $defaultPadding * 2.5;
			background-image: url("/images/ui/cross.svg");
			width: $closeSize;
			height: $closeSize;
		}
	}

	.notification.off {
		left: 500px;
	}

	.notification.off.s {
		max-height: 0px;
		padding: 0;
		margin: 0;
	}
}

.socialIcons {
	.svg-googleplus {
		fill: #c53929 !important;
	}

	.svg-twitter {
		fill: #1da1f2 !important;
	}

	.svg-youtube {
		fill: #cd201f !important;
	}

	.svg-twitch {
		fill: #6441a5 !important;
	}

	a {
		display: inline-block;
		margin: 0;
		margin-right: $defaultPadding * 2;

		&:last-of-type {
			margin-right: 0;
		}
	}
}
