@import "base";

body {
	color: white;
	min-height: 100vh;
}

#top {
	background-color: rgba(0, 0, 0, 0.3);
}

#mainContent {
	background-color: $highlightColor;
	margin: 0;
	max-width: none;
	min-height: 100vh;
	padding-bottom: 0;
}

#footer {
	bottom: auto;
}

#splash {
	.center {
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;

		text-align: center;
	}

	.hello {
		font-size: 60px;
		height: 100px;
		line-height: 100px;
	}

	.welcome {
		font-size: 30px;
		height: 50px;
		line-height: 50px;
	}

	.logo, .logo svg {
		height: 100%;
		width: 80%;

		@include large {
			height: 150px;
			width: auto;
		}
	}

	.links {
		font-size: 30px;
		height: 50px;
		line-height: 50px;
		bottom: -250px;

		a {
			color: darken(white, 10);
			text-decoration: none;
		}

		a:hover {
			color: white;
		}
	}
}
