@import "base";

html {
	height: 100%;
}

body {
	margin: 0;
	background-color: darken($backgroundColor, 5);
	text-align: center;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;

	*::selection {
		background: $highlightColor;
	}
}

a {
	transition: color 0.2s;
	color: $highlightColor;

	&:visited {
		color: darken($highlightColor, 15);
	}
	&:hover {
		color: lighten($highlightColor, 20);
	}
	&:active {
		color: darken($highlightColor, 10);
	}
}

#top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $headerHeight;
	background-color: $headerColor;
	box-shadow: 0 0 20px transparentize($foregroundColor, 0.5);
	z-index: 5;
	transition: height 0.2s;

	@include large {
		height: $bigHeaderHeight;
	}

	.overflowIcon {
		stroke: white !important;
	}
}

.topOverflow {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: $headerHeight;
	height: $headerHeight;
	padding: ($headerHeight - 24) / 2;
	box-sizing: border-box;

	@include large {
		width: $bigHeaderHeight;
		height: $bigHeaderHeight;
		padding: ($bigHeaderHeight - 24) / 2;
	}
}

#topLogo svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: $headerHeight - $defaultPadding * 2;
	max-width: 50%;

	@include large {
		height: $bigHeaderHeight - $defaultPadding * 2;
	}
}

nav {
	position: fixed;
	top: 0;
	left: -90%;
	bottom: 0;
	height: 100%;
	width: 90%;
	max-width: 300px;
	background: $backgroundColor;
	z-index: 10;
	font-family: $font;
	user-select: none;

	footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		box-sizing: border-box;
		padding: $defaultPadding;

		a {
			display: inline-block;
			margin: 0;
			margin-right: $defaultPadding * 2;

			&:last-of-type {
				margin-right: 0;
			}
		}

		.svg-googleplus {
			fill: #c53929 !important;
		}

		.svg-twitter {
			fill: #1da1f2 !important;
		}

		.svg-youtube {
			fill: #cd201f !important;
		}

		.svg-twitch {
			fill: #6441a5 !important;
		}
	}

	a {
		transition: color 0.2s;
		text-decoration: none;
		color: lighten($foregroundColor, 40);
		font-size: 20px;
		display: block;
		margin: $defaultPadding * 3;

		&:visited {
			color: lighten($foregroundColor, 40);
		}
		&:hover {
			color: lighten($foregroundColor, 60);
		}
		&:active {
			color: lighten($foregroundColor, 20);
		}
	}
}

#blackout {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: transparentize($foregroundColor, 0.2);
	z-index: 5;
	display: none;
	opacity: 0;
}

#notifications {
	position: fixed;
	right: 0;
	bottom: 0;
	max-width: 100%;
	padding-left: $defaultPadding * 2;
	box-sizing: border-box;

	.notification {
		transition: all 0.3s;
		left: 0px;
		position: relative;
		clear: both;
		float: right;
		max-height: 600px;
		max-width: 400px;
		padding: $defaultPadding $defaultPadding * 2;
		padding-bottom: $defaultPadding * 1.5;
		margin-bottom: $defaultPadding * 2;
		margin-right: $defaultPadding * 2;
		background-color: lighten($foregroundColor, 15);
		color: $backgroundColor;
		box-shadow: 0 5px 15px transparentize($foregroundColor, 0.5);
		text-align: left;
		font-family: $font;

		$closeSize: 20px;

		.title {
			display: block;
			margin-right: $closeSize + $defaultPadding;
			margin-bottom: $defaultPadding;
			line-height: $closeSize + $defaultPadding;
			font-size: $closeSize;
		}

		.close {
			display: block;
			position: absolute;
			top: $defaultPadding * 1.5;
			right: $defaultPadding * 2.5;
			background-image: url("/images/ui/cross.svg");
			width: $closeSize;
			height: $closeSize;
		}
	}

	.notification.off {
		left: 500px;
	}

	.notification.off.s {
		max-height: 0px;
		padding: 0;
		margin: 0;
	}
}

#mainContentWrapper {
	overflow: hidden;
}

#mainContent {
	position: relative;
	margin: 0 auto;
	font-family: $font;
	max-width: $maxContentWidth;
	min-height: 100%;
	padding-top: ($headerHeight + $defaultPadding * 2);
	box-sizing: border-box;

	@include medium {
		padding-bottom: $footerHeight;
	}

	@include large {
		padding-top: ($bigHeaderHeight + $defaultPadding * 2);
	}
}

.section {
	background-color: $backgroundColor;
	box-shadow: 0 3px 10px transparentize($foregroundColor, 0.8);
	padding: $cardPadding;
	margin-bottom: 20px;
	text-align: center;

	p, ul, pre, code {
		text-align: left;
	}

	img {
		margin: $defaultPadding * -2 $defaultPadding * -3;
		margin-bottom: -24px;
		width: calc(100% + #{$defaultPadding * 6});
		height: auto;
	}

	@include medium {
		text-align: left;
	}
}

#footer {
	font-family: $font;
	background-color: lighten($foregroundColor, 15);
	color: $backgroundColor;
	min-height: $footerHeight;
	width: 100%;
	box-shadow: inset 0 20px 20px -20px transparentize($foregroundColor, 0.2);

	@include medium {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.footerHeader {
		font-size: 16px;
		font-weight: bold;
	}

	#footerContent {
		max-width: 100%;
		width: 100%;
		height: 100%;
		position: relative;

		@include medium {
			width: $maxContentWidth;
			position: absolute;
			margin: 0 auto;
			right: 0;
			left: 0;
		}

		.footerSection {
			display: inline-block;
			padding: 20px 10px;
			box-sizing: border-box;
			width: 100%;
			margin: 0 auto;

			#streamStatus {
				display: block;

				* {
					display: inline-block;
				}

				a {
					font-size: 14px;
					vertical-align: middle;
					margin: 0;
				}

				#streamStatusDot {
					fill: transparentize(white, 0.7);
				}
			}

			.social {
				display: block;
				font-size: 14px;
				margin: 15px 0;
			}

			a {
				span {
					transition: color 0.2s;
				}
			}

			#twitchLink:hover {
				span {
					color: #6441A5;
				}
			}

			#gplusLink:hover {
				span {
					color: #C53929;
				}
			}

			#twitterLink:hover {
				span {
					color: #1DA1F2;
				}
			}

			#youtubeLink:hover {
				span {
					color: #CC181E;
				}
			}

			&:last-of-type {
				margin-bottom: 110px;
			}

			@include medium {
				width: 32%;
				position: absolute;
				right: 0;
				left: 0;
				&:first-of-type {
					right: auto;
				}
				&:last-of-type {
					left: auto;
					margin-bottom: 0;
				}
			}
		}

		#license {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			margin-bottom: $defaultPadding * 2;
			padding: 0 $defaultPadding;
			box-sizing: border-box;
			font-size: 13px;
			display: inline-block;

			a {
				display: inline-block;
				font-size: 13px;
				text-decoration: underline;
			}
		}

		a {
			transition: color 0.2s;
			text-decoration: none;
			color: $backgroundColor;
			font-size: 20px;
			display: block;
			margin-bottom: $defaultPadding;

			&:visited {
				color: $backgroundColor;
			}
			&:hover {
				color: lighten($backgroundColor, 50);
			}
			&:active {
				color: lighten($backgroundColor, 10);
			}
		}
	}
}

.imageText {
	display: block;
	margin: 0 auto;

	@include medium {
		min-height: 200px;
	}
	img {
		@include circleImage();
		width: 60%;
		margin: $defaultPadding * 2;
		box-sizing: border-box;
		box-shadow: 0 3px 10px transparentize($foregroundColor, 0.8);
		@include medium {
			float: left;
			width: 200px - $defaultPadding * 2 * 2;
			height: 200px - $defaultPadding * 2 * 2;
		}
	}
	p, h3 {
		@include medium {
			text-align: left;
		}
	}
}
