{% macro socialIcons() %}
	<div class="socialIcons">
		<a href="https://google.com/+MagnonNet">{% include "../svg/social/googleplus.svg" %}</a>
		<a href="https://twitter.com/theMagnon">{% include "../svg/social/twitter.svg" %}</a>
		<a href="https://www.youtube.com/channel/UCZlenKi3wRj3Usc3cXTsA2Q">{% include "../svg/social/youtube.svg" %}</a>
		<a href="https://www.twitch.tv/themagnon">{% include "../svg/social/twitch.svg" %}</a>
	</div>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8" />
		<title>{{ title }} - Magnon</title>
		<meta name="theme-color" content="#32A6D4">
		<meta name="description" content="{{ description }}">
		<link rel="icon" sizes="192x192" href="/images/ui/fav/192.png">
		<link rel="icon" sizes="16x16" href="/images/ui/fav/16.png">
		{% block style %}
			<link rel="stylesheet" type="text/css" href="/css/standard.css" />
		{% endblock %}
		{% block script %}
			<script src="/js/logic.js" async></script>
		{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% endblock %}
	</head>
	<body>
		<div id="top">
			{% include "../svg/overflow.svg" %}
			<a href="/" id="topLogo">
				{% include "../svg/topLogo.svg" %}
			</a>
		</div>
		<nav id="sideBar">
			<a href="/">Home</a>
			<a href="/games">Our Games</a>
			<a href="/about">About Us</a>
			<footer>
				{{ socialIcons() }}
			</footer>
		</nav>
		<div id="mainContentWrapper">
			<div id="mainContent">
				{% block content %}
				<h1>Empty</h1>
				<p>This page does not seem to have any content on it...</p>
				{% endblock %}
			</div>
		</div>
		<div id="footer">
			<div id="footerContent">
				<div class="navigation footerSection">
					<a href="/">Home</a>
					<a href="/about">About</a>
					<a href="/games">Games</a>
					<a href="/contact">Contact</a>
				</div>
				<div class="announcement footerSection">
					<span class="footerHeader">We're on GitHub!</span>
					<p>Not only is this website open-source on GitHub, but we
							also have a bunch of other projects you can check out
							<a href="https://github.com/theMagnon">over here</a>!
					</p>
				</div>
				<div class="social footerSection">
					{{ socialIcons() }}
				</div>
				<span class="license">
					This work, unless otherwise noted, is licensed under a
					<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
						Creative Commons Attribution 4.0 International License</a>.
				</span>
			</div>
		</div>
	</body>
</html>
