{% extends "layouts/standard.html" %}

{% set title = "About Us" %}
{% set description = "Who are the masterminds behind Magnon? Find out all about us here." %}

{% block content %}
	<div class="section">
		<h1>ABOUT US</h1>
		<p>We are Team Magnon, a group of game developers.
				We mostly create 2D pixel based games for now but we do think
				that we will branch out to 3D games in time.
				Right now we have three members in our group.
				Although we are few, we're not looking for any new members right now.
				If you got any further questions about Magnon feel free to
				<a href="/contact">contact us</a>.
				If you want to know more about the great people who work for
				Magnon then you can scroll down to get more personal information about who we are.</p>
	</div>
	<div class="section">
		<h2>THE TEAM</h2>
		<div class="imageText">
			<img src="//www.gravatar.com/avatar/556e7ba6081dc1a3c049ff83be5ccfd1?s=300" alt="Tobi's profile picture" />
			<h3>Tobi - magnontobi</h3>
			<p>Hi, my name is Tobi.
					I am what most of you would call a weeb, though I try to be moderate about it.
					I like to study Japanese and to program games and other fun stuff such as this website.
					Also, console > PC when it comes to gaming!<br /><br />
					Twitter: <a href="https://twitter.com/magnontobi" target="_blank">@magnontobi</a><br />
					GitHub: <a href="https://github.com/magnontobi" target="_blank">magnontobi</a><br />
					BitBucket: <a href="https://bitbucket.org/magnontobi/" target="_blank">magnontobi</a></p>
		</div>
		<div class="imageText">
			<img src="//www.gravatar.com/avatar/84936047211f327d21d97a2a5e0b4e34?s=300" alt="Andre's profile picture" />
			<h3>Andre - SultanAndre</h3>
			<p>Hello, I am Andre and I mostly do the social media bits. I also used to do YouTube,
					but I decided that 24 hour upload times was a bit much. I am mostly on twitter,
					a site that I happen to have an addiction to. Anyway, I'll hopefully see you around.<br /><br />
					Twitter: <a href="https://twitter.com/1AndreKSP" target="_blank">@1AndreKSP</a><br />
					Steam: <a href="http://steamcommunity.com/id/SultanAndre/" target="_blank">SultanAndre</a></p>
		</div>
	</div>
{% endblock %}
