{% extends "layouts/standard.html" %}

{% set title = "About Us" %}
{% set description = "Who are the masterminds behind Magnon? Find out all about us here." %}

{% block content %}
	<div class="section">
		<h1>ABOUT US</h1>
		<p>We are Team Magnon, a group of game developers.
				We mostly create 2D pixel based games for now but we do think
				that we will branch out to 3D games in time.
				Right now we have five members in our group.
				Although we are few, we're not looking for any new members right now.
				If you got any further questions about Magnon feel free to
				<a href="/contact">contact us</a>.
				If you want to know more about the great people who work for
				Magnon then you can scroll down to get more personal information about who we are.</p>
	</div>
	<div class="section">
		<h2>THE TEAM</h2>
		<div class="imageText">
			<img src="//www.gravatar.com/avatar/556e7ba6081dc1a3c049ff83be5ccfd1?s=300" alt="Ellie's profile picture" />
			<h3>Ellie - magnonellie</h3>
			<p>Hi, my name is Ellie.
					I am what most of you would call a weeb, though I try to be moderate about it.
					I like to study Japanese, program games and other fun stuff such as making this website.
					Also, console > PC when it comes to gaming!<br /><br />
					Twitter: <a href="https://twitter.com/magnonellie" target="_blank">@magnonellie</a><br />
					GitHub: <a href="https://github.com/magnonellie" target="_blank">magnonellie</a><br />
					BitBucket: <a href="https://bitbucket.org/magnonellie/" target="_blank">magnonellie</a></p>
		</div>
		<div class="imageText">
			<img src="//www.gravatar.com/avatar/84936047211f327d21d97a2a5e0b4e34?s=300" alt="Sinon's profile picture" />
			<h3>Sinon - SinonLynx</h3>
			<p>Hello, I am Sinon and I mostly do the social media bits. I also used to do YouTube,
					but I decided that 24 hour upload times was a bit much. I am mostly on twitter,
					a site that I happen to have an addiction to. Anyway, I'll hopefully see you around.<br /><br />
					Twitter: <a href="https://twitter.com/SinonLynx" target="_blank">@SinonLynx</a><br />
					Steam: <a href="http://steamcommunity.com/id/SinonLynx/" target="_blank">Sinon</a></p>
		</div>
		<div class="imageText">
			<img src="//www.gravatar.com/avatar/d1b5f7ed689d1e29178dafb6221ca935?s=300" alt="Andre's profile picture" />
			<h3>Karl - CurrayNRice</h3>
			<p>Hey, my name is Karl. What I do when it comes to Magnon is programming, but what i
					really love is designing and creating a game that is actually fun to play.
					I am a PC gamer, mostly because my finger coordination is just horrible.
					One important thing to note is that I am horrible at spelling.<br /><br />
					Twitter: <a href="https://twitter.com/CurrayNRice" target="_blank">@CurrayNRice</a><br />
					GitHub: <a href="https://github.com/CurryNRice" target="_blank">CurryNRice</a></p>
		</div>
		<div class="imageText">
			<img src="//www.gravatar.com/avatar/fffe89cd92e3d0d0ad8e4126aad37008?s=300" alt="Andre's profile picture" />
			<h3>Max - maxad</h3>
			<p>Greetings! I’m Max. I like graphics, sculpting and animation. Therefore, I’m the
					one responsible for that part. When not doing graphics related stuff I like
					to play games or just sleep. I’m not a big fan of social media so Steam is the place.<br /><br />
					Steam: <a href="http://steamcommunity.com/profiles/76561198061647564" target="_blank">SirMax</a></p>
		</div>
	</div>
{% endblock %}
