{% extends "layouts/standard.html" %}

{% set title = "Contact Us" %}
{% set description = "Find out how to contact us on this page." %}

{% block content %}
	<div class="section">
		<h1>CONTACT INFORMATION</h1>
		<p>We're still setting up quite a few things with Magnon and we do not
			have an email address for now unfortunaly. Your best bet at
			contacting us would be through Twitter
			(<a href="https://twitter.com/theMag" target="_blank">@theMagnon</a>)
			while we're trying to fix our mailing problem.<br /><br />
			We apologize for the inconvenience!
		</p>
	</div>
{% endblock %}
