{% extends "layouts/standard.html" %}

{% set title = "Cookie Policy" %}
{% set description = "The boring but needed cookie policy page (Thanks EU)." %}

{% block content %}
	<div class="section">
		<h1>Cookie Policy</h1>
		<p>Or cookie policy is really simple. We only use cookies that makes your experience better.
		        We try to make everything as secure as it possibly can be.
		        However, Google, the provider of our statistics tracker, may use cookies too.
				By continuing to browse this website, you consent to our use of cookies.</p>
		</ul>
	</div>
{% endblock %}
