{% extends "layouts/standard.html" %}

{% set title = "Games" %}
{% set description = "The big list of every game we have ever made here at Magnon." %}

{% block content %}
	<div class="section">
		<h1>GAMES</h1>
		<p>Our main goal here at Magnon is to make awesome games for everyone to enjoy.
				On this page we'll highlight all the games we've made.</p>
	</div>
	<div class="section">
		<h2>Dig Snow!</h2>
		<div class="imageText spreadTarget">
			<img src="/images/games/digSnowIcon.png" alt="An icon representing Dig Snow!" />
			<h3>A game about digging snow.</h3>
			<p>In Dig Snow! your goal is to dig as much snow as you can before the time runs out.
					Can you get the highest score?<br /><br />
					<a href="/games/digsnow" data-spread>Read more about Dig snow</a></p>
		</div>
	</div>
{% endblock %}
