{% extends "layouts/standard.html" %}

{% set title = "Home" %}
{% set description = "This is the home page for magnon.net with a general introduction of who we are." %}
{% set skipStyle = true %}
{% set skipScript = true %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/css/index.css" />
{% endblock %}
{% block script %}
<script src="/js/index.js" async></script>
{% endblock %}

{% block content %}
	<div id="splash">
		<span class="center hello">
			Hello there!
		</span>
		<span class="center welcome">
			Welcome to...
		</span>
		<span class="center logo">
			{% include "./svg/topLogo.svg" %}
		</span>

		<div class="center links">
			<a href="/games" class="link">Games</a>
			|
			<a href="/about" class="link">About</a>
		</div>
	</div>
{% endblock %}
